@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "src/assets/scss/_mycss.scss";
@import "~material-design-icons/iconfont/material-icons.css";

a {
    cursor: pointer;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.wrapper {
    padding: 20px;
}
#box-tools {
    padding-top: 10px;
}
.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;
}
